/* your custom css */

/* Color of header */
div.fixedHeaderContainer {
  background: #fff;
  height: 90px;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.1);
}

/* Align logo */
div.fixedHeaderContainer header img {
  position: relative;
  top: 50%;
  height: auto;
}

/* Align main navigation */
.navigationSlider nav.slidingNav {
  top: 50%;
}

input#search_input_react {
  height: 30px;
}

li.navSearchWrapper.reactNavSearchWrapper {
  right: 50px;
}

div.docMainWrapper.wrapper {
  padding: 40px;
}

/* Doesn't work yet */
.onPageNav.a:hover {
  color: #00BCDC !important;
}

input#search_input_react {
  background: #f9f9f9;
  box-shadow: inset 0 4px 2px rgba(0,0,0,.1);
}

input#search_input_react::placeholder {
  color: #393939;
}

input#search_input_react:focus {
  color: #393939;
  }

input#search_input_react {
  color: #393939;
  }

li.navSearchWrapper.reactNavSearchWrapper::before {
  border: 3px solid #393939;
  margin-left: 2px;
}

li.navSearchWrapper.reactNavSearchWrapper::after {
  background: #393939;
  margin-left: 2px;
}

input#search_input_react:active {
  color: #393939;
}

/* Change text style */
div.container.mainContainer .wrapper p {
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

/* Gradient title of each page */
h1 {
  background: -webkit-linear-gradient(45deg, #00BCDC, #E04D8B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Color of background of left sidebar */
nav.toc .toggleNav .navGroup.navGroupActive {
  background: #f9f9f9;
}

footer.nav-footer {
  background: #101832;
}

/* Faster transition on hover on left sidebar */
nav.toc .toggleNav ul li a {
    transition: color 0.2s;
}

/* Change color on sidebar section headers */
nav.toc .toggleNav .navGroup.navGroupActive h3 {
  background: #f9f9f9;
  color: #101832;
}

/* Remove devider in sidebar between sections */
nav.toc .toggleNav .navGroup {
  margin: 0px 0;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
